@import url(global.css);
body{
    background: gainsboro;
    
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 89vh;
    padding-bottom: 20px;
}
 nav select{
    width: 120px;
    color: gray;
    margin: 10px ;
    padding: 10px;
    border-radius: 5px;
}
nav{
    display: flex;
    width: 100%;
}
.cards{
    display: flex;
    flex-wrap: wrap ;
    width: 90%;
    overflow-y: scroll;
    gap: 20px;
    justify-content: center;


}
.card{
    width: 40vh;
    border-radius: 4px;
    overflow: hidden;
    background: none;
    padding-bottom: 20px;
    color: black;
    transition: .2s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    background: white;
    
}

.card img{
    width: 100%;
    height: 200px;
}
.informs{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding: 10px;
    font-size: 16pt;
    justify-content: space-around;
}
.icons{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.icons span{
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}
::-webkit-scrollbar{
  background:none;

}
/* Cor Do Scroll */
::-webkit-scrollbar-thumb {
    width: 0;
}
.FilterBtn{
    display: none;
}
.estado{
    background: red;
    padding: 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
}
.ctt{
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

@media(max-width:799px){
    .card{
        width: 100%;
    }
    .cards{
        margin-top: 10px;
    }
    .bg{
        display: none;
    }
    main{
        padding-top: 23vh;
    }
    .Filter{
        
        flex-direction: column;
    }
    .FilterBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background: white;
        margin-left: 20px;
    }
    .activity{
        display: flex;
        
    }
    .d-container{
        flex-direction: column;
        align-items: center;
    }
    .d-container div{
        width: 100% !important;
    }

    
    
}
