@import url(global.css);
body{
    background: gainsboro;
    
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 89vh;
    padding-bottom: 20px;
}
 nav select{
    width: 120px;
    color: gray;
    margin: 10px ;
    padding: 10px;
    border-radius: 5px;
}
nav{
    display: flex;
    width: 100%;
}
.cards{
    display: flex;
    flex-wrap: wrap ;
    width: 90%;
    overflow-y: scroll;
    gap: 20px;
    margin-left: 20px;
    margin-top: 30px;

}
.card{
    width: 40vh;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    padding-bottom: 20px;
    color: black;
    transition: .2s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.card:hover{
    box-shadow: 0px 0px 10px white;
   
    transform: translateY(-3px);
}
.card img{
    width: 100%;
  
}
.card .desc{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 25px;
    background: white;
    color: gray ;
    padding: 5px;
    
    margin-top: 5px;
}
.card .desc .ico{
    border-bottom: 1px solid gray;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.card .nome{
    font-size: 20pt;
    width: 99%;
    padding: 5px;
    
}
.nome{
    margin-bottom: 10px;
    padding: 5px;
}
.preco{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
   
}
::-webkit-scrollbar{
  background:none;

}
/* Cor Do Scroll */
::-webkit-scrollbar-thumb {
    width: 0;
}
.FilterBtn{
    display: none;
}

@media(max-width:799px){
    .card{
        width: 100%;
    }
    .cards{
        margin-top: 10px;
    }
    .bg{
        display: none;
    }
    main{
        padding-top: 23vh;
    }
    .Filter{
        
        flex-direction: column;
    }
    .FilterBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background: white;
        margin-left: 20px;
    }
    .activity{
        display: flex;
        
    }

    
    
}
