<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <script src="/static/js/user.js"></script>
</head>
<body>
    <header class="header">
        <h1>G1 Do Duque</h1>

        <div class="avatar">
            <a href="/user/{{session['nome']}}/config"> {{nome}} <img src="/static/img/avatar/" id="avatar-img" alt=""></a>
        </div>
    </header>

    <main class="main">
        <div class="slider">
            <div class="wrapper">
                <div class="itens">
                 <a href="">Anuncie Aqui<img src="" alt=""></a>
                </div>

                <div class="itens">
                    <a href="">Anuncie Aqui<img src="" alt=""></a>
                   </div>

                   <div class="itens">
                    <a href="">Anuncie Aqui<img src="" alt=""></a>
                   </div>

                   <div class="itens">
                    <a href="">Anuncie Aqui<img src="" alt=""></a>
                   </div>

                   <div class="itens">
                    <a href="">Anuncie Aqui<img src="" alt=""></a>
                   </div>

                   <div class="itens">
                    <a href="">Anuncie Aqui<img src="" alt=""></a>
                   </div>
            </div>
        </div>

        <div class="apps">
            <a href="/chat" class="chat"><img src="/static/assets/chat.png" alt="">Chat</a>
            
            <a href="/horarios" class="horarios"><img src="/static/assets/Horarios.png" alt="">Horarios</a>
            <a href="/fofocas" class="fofocas"><img src="/static/assets/fofoca.png" alt="">Fofocas</a>
            
        </div>

    </main>

    <footer class="footer" >
        <h1>Desenvolvedor: (Dragunov)</h1>
    </footer>
</body>
</html>