
.body{
    display: flex;
    align-items: center;
    height: 100vh;
}
.form{
    display: flex;
    align-items: start;
    width: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

   
}

.col1 div{
    display: flex;
    flex-direction: column;
    
}
.col1 div input{
    width: 300px;
    height: 40px;
    border-radius: 9px;
}
.col2 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 60px;
    margin-top: 2px;


}
.col2 select{
    width: 300px;
    height: 40px;
    border: 1px solid #222;
}
i:hover{
    color: #ffffff;
    cursor: pointer;
}
textarea{
    resize: none;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #222;
}
.cadastrar{
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.cadastrar:hover{
    cursor: pointer;
    border: 1px solid #222;
}
.coluna3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coluna3 textarea{
    width: 300px;
    margin: 20px;
}