
.body{
    display: flex;
    align-items: center;
    
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vh;
    height: 70vh;
    margin: 0 auto;
    gap: 15px;
    padding-top: 20px;

}
.form div{
    display: flex;

    width: 90%;
    align-items: center;
    flex-direction: column;
    position: relative;
  
}
.form div input{
    width: 65%;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;

}
.form div label{
    position: relative;
    top: 0;
    left: 0;
}
.form select{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
