.edit-container{
    width: 90vh;
    margin:  0 auto;
    display: flex;
    flex-direction: column;

    
}
.inputs{
    display: flex;
    width: 100%;
    
    
}
.inputs input{
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.col1, .col2{
    display: flex;
    flex-direction: column;
    
}
.select{
    margin-top: 10px;
    width: 100px;
    padding: 5px;
}
button{
    margin-left: 10px;
}
.editbg{
    height: 350px;
    border-radius: 5px;
}