<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/side.css">
</head>
<body>

    <%- include('side.ejs') -%>

    <div class="container">
        <h1>Painel Administrador</h1>

        <form action="">
            <input type="text" placeholder="Nome De Administrador">
            <input type="password" name="" id="" placeholder="Senha De Administrador">
            <button>Entrar</button>
        </form>
    </div>
</body>
</html>