<aside class="side">
    <a href="/painel/cadastrar">Cadastrar</a>
    <a href="/painel/editar">Editar</a>
    <a href="/painel/remover">Remover</a>
    <a href="/painel/gerenciar">Gerenciar Contas</a>
</aside>